.card-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border: 8px solid rgb(10, 4, 36);
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}
